In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [3]:
website = 'https://www.espncricinfo.com/records/tournament/indian-premier-league-2023-15129'
path = r'C:\Users\abhis\Downloads\ChromeDriver'

In [4]:
driver = webdriver.Chrome(path)

C:\Users\abhis\AppData\Local\Temp\ipykernel_16596\2107036205.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [5]:
driver.get(website)
try:
    WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.ID, 'wzrk-cancel'))).click()
except:
    print("could not click")
    pass

In [6]:
most_runs_page = WebDriverWait(driver, 1).until(EC.element_to_be_clickable((By.XPATH, '//a[@href="/records/tournament/batting-most-runs-career/indian-premier-league-2023-15129"]'))).click()
most_runs_page

In [7]:
most_runs = driver.find_elements(By.TAG_NAME, 'tr')

for i in most_runs:
    print(i.text)

Player
Mat
Inns
NO
Runs
HS
Ave
BF
SR
100
50
0
4s
6s
F du Plessis (RCB)
14 14 1 730 84 56.15 475 153.68 - 8 - 60 36
Shubman Gill (GT)
15 15 2 722 104* 55.53 484 149.17 2 4 1 71 23
V Kohli (RCB)
14 14 2 639 101* 53.25 457 139.82 2 6 1 65 16
DP Conway (CSK)
15 14 2 625 92* 52.08 456 137.06 - 6 1 73 16
YBK Jaiswal (RR)
14 14 1 625 124 48.07 382 163.61 1 5 1 82 26
RD Gaikwad (CSK)
15 14 1 564 92 43.38 384 146.87 - 4 - 43 29
DA Warner (DC)
14 14 0 516 86 36.85 392 131.63 - 6 2 69 10
SA Yadav (MI)
15* 14 2 511 103* 42.58 276 185.14 1 4 1 56 24
RK Singh (KKR)
14 14 6 474 67* 59.25 317 149.52 - 4 - 31 29
H Klaasen (SRH)
12 11 2 448 104 49.77 253 177.07 1 2 - 32 25
Ishan Kishan (MI)
15* 14 0 439 75 31.35 306 143.46 - 3 - 51 18
N Rana (KKR)
14 14 1 413 75 31.76 293 140.95 - 3 - 39 20
VR Iyer (KKR)
14 14 0 404 104 28.85 277 145.84 1 2 1 32 21
GJ Maxwell (RCB)
14 14 2 400 77 33.33 218 183.48 - 5 2 29 31
JC Buttler (RR)
14 14 0 392 95 28.00 282 139.00 - 4 5 42 14
S Dube (CSK)
15 13 2 386 52 35.09 243 158.84 - 3 - 12 33
C Green (MI)
15* 14 7 381 100* 54.42 239 159.41 1 2 - 32 19
S Dhawan (PBKS)
11 11 2 373 99* 41.44 261 142.91 - 3 1 49 12
MP Stoinis (LSG)
15* 14 2 368 89* 30.66 245 150.20 - 3 2 23 26
SV Samson (RR)
14 14 2 362 66* 30.16 236 153.38 - 3 2 25 24
KR Mayers (LSG)
12 12 0 361 73 30.08 250 144.40 - 4 2 35 22
N Pooran (LSG)
15* 14 3 358 62 32.54 206 173.78 - 2 1 26 26
Prabhsimran Singh (PBKS)
14 14 0 358 103 25.57 238 150.42 1 1 2 38 19
RG Sharma (MI)
15* 14 0 313 65 22.35 233 134.33 - 2 2 33 16
JM Sharma (PBKS)
14 14 1 309 49* 23.76 198 156.06 - - 1 22 21
V Shankar (GT)
12 10 2 301 63* 37.62 188 160.10 - 3 - 27 15
AM Rahane (CSK)
13 10 1 299 71* 33.22 176 169.88 - 2 - 22 14
SO Hetmyer (RR)
14 13 5 299 56* 37.37 197 151.77 - 1 - 12 23
WP Saha (GT)
15 15 1 299 81 21.35 232 128.87 - 1 2 39 7
HH Pandya (GT)
14 13 2 297 66 27.00 228 130.26 - 2 - 24 11
JJ Roy (KKR)
8 8 0 285 61 35.62 188 151.59 - 2 - 36 12
AR Patel (DC)
14 13 3 283 54 28.30 203 139.40 - 1 - 21 15
LS Livingstone (PBKS)
9 9 1 279 94 34.87 171 163.15 - 2 - 20 19
SM Curran (PBKS)
14 13 3 276 55 27.60 203 135.96 - 1 - 20 13
KL Rahul (LSG)
9 9 1 274 74 34.25 242 113.22 - 2 - 28 4
NT Tilak Varma (MI)
10* 9 3 274 84* 45.66 173 158.38 - 1 - 21 18
RA Tripathi (SRH)
13 13 1 273 74* 22.75 213 128.16 - 1 1 29 10
MA Agarwal (SRH)
10 10 0 270 83 27.00 210 128.57 - 1 - 29 6
D Padikkal (RR)
11 11 1 261 52 26.10 200 130.50 - 2 - 31 6
DA Miller (GT)
14 13 5 259 46 32.37 178 145.50 - - 1 18 13
AK Markram (SRH)
13 13 2 248 50 22.54 197 125.88 - 1 1 18 8
A Badoni (LSG)
15* 11 2 237 59* 26.33 165 143.63 - 1 - 13 12
Rahmanullah Gurbaz (KKR)
11 11 0 227 81 20.63 170 133.52 - 2 2 17 15
AD Russell (KKR)
14 14 3 227 42 20.63 156 145.51 - - 1 13 18
Abhishek Sharma (SRH)
11 11 0 226 67 20.54 157 143.94 - 2 1 28 6
B Sai Sudharsan (GT)
6 6 1 223 62* 44.60 178 125.28 - 2 - 20 5
PD Salt (DC)
9 9 1 218 87 27.25 133 163.90 - 2 2 24 10
TH David (MI)
15* 13 6 216 45* 30.85 130 166.15 - - 2 11 15
N Wadhera (MI)
12 8 1 214 64 30.57 151 141.72 - 2 1 20 10
RR Rossouw (DC)
9 9 2 209 82* 29.85 141 148.22 - 1 2 17 11
HC Brook (SRH)
11 11 2 190 100* 21.11 154 123.37 1 - 3 23 4
A Taide (PBKS)
7 7 0 186 66 26.57 129 144.18 - 2 1 20 6
KH Pandya (LSG)
15* 13 4 180 49* 20.00 154 116.88 - - 3 14 6
RA Jadeja (CSK)
15 11 3 175 25* 21.87 127 137.79 - - - 10 8
Abdul Samad (SRH)
9 8 4 169 37* 42.25 128 132.03 - - - 10 11
MK Pandey (DC)
10 9 0 160 50 17.77 146 109.58 - 1 2 15 3
M Shahrukh Khan (PBKS)
14 13 6 156 41* 22.28 94 165.95 - - - 13 9
DC Jurel (RR)
13 11 4 152 34* 21.71 88 172.72 - - 1 11 9
Q de Kock (LSG)
4 4 0 143 70 35.75 102 140.19 - 1 - 10 8
KD Karthik (RCB)
13 13 1 140 30 11.66 104 134.61 - - 4 13 5
Sikandar Raza (PBKS)
7 7 2 139 57 27.80 98 141.83 - 1 - 10 6
AT Rayudu (CSK)
15 11 2 139 27* 15.44 105 132.38 - - 1 9 7
MK Lomror (RCB)
12 10 2 135 54* 16.87 97 139.17 - 1 1 9 8
MR Marsh (DC)
9 9 0 128 63 14.22 97 131.95 - 1 2 11 7
Rashid Khan (GT)
15 7 4 125 79* 41.66 56 223.21 - 1 1 7 13
MM Ali (CSK)
14 10 3 124 23 17.71 91 136.26 - - - 12 6
MW Short (PBKS)
6 6 0 117 36 19.50 92 127.17 - - - 15 4
A Manohar (GT)
9 6 0 114 42 19.00 83 137.34 - - - 6 7
SN Thakur (KKR)
11 10 2 113 68 14.12 70 161.42 - 1 2 13 4
Aman Hakim Khan (DC)
11 9 1 110 51 13.75 101 108.91 - 1 1 7 6
PP Shaw (DC)
8 8 0 106 54 13.25 85 124.70 - 1 2 16 1
Anmolpreet Singh (SRH)
4 4 0 105 36 26.25 82 128.04 - - - 15 2
MS Dhoni (CSK)
15 11 8 104 32* 34.66 56 185.71 - - - 3 10
Anuj Rawat (RCB)
9 7 4 91 29* 30.33 71 128.16 - - - 6 4
PN Mankad (LSG)
5* 4 2 90 64* 45.00 66 136.36 - 1 1 12 2
N Jagadeesan (KKR)
6 6 0 89 36 14.83 81 109.87 - - 1 14 1
R Tewatia (GT)
15 10 6 87 20* 21.75 57 152.63 - - - 3 7
R Parag (RR)
7 7 1 78 20 13.00 66 118.18 - - - 4 5
Harpreet Singh (PBKS)
3 3 0 76 41 25.33 59 128.81 - - - 8 3
PBB Rajapaksa (PBKS)
4 4 1 71 50 23.66 62 114.51 - 1 1 6 2
Vivrant Sharma (SRH)
3 1 0 69 69 69.00 47 146.80 - 1 - 9 2
DJ Hooda (LSG)
12* 11 1 69 17 6.90 77 89.61 - - - 3 1
R Ashwin (RR)
13 10 4 67 30 11.16 51 131.37 - - 2 5 3
Lalit Yadav (DC)
6 6 1 66 38 13.20 59 111.86 - - - 8 0
Washington Sundar (SRH)
7 5 1 60 24* 15.00 60 100.00 - - - 6 0
K Gowtham (LSG)
7* 6 3 59 23 19.66 34 173.52 - - - 2 5
MG Bracewell (RCB)
5 4 2 58 26 29.00 47 123.40 - - - 6 1
SN Khan (DC)
4 4 0 53 30 13.25 62 85.48 - - - 4 1
Harpreet Brar (PBKS)
13 8 2 52 17* 8.66 41 126.82 - - 1 5 2
RV Patel (DC)
5 4 1 49 23 16.33 43 113.95 - - - 3 1
B Kumar (SRH)
14 6 3 42 27 14.00 47 89.36 - - - 4 0
Shahbaz Ahmed (RCB)
10 6 2 42 20* 10.50 39 107.69 - - - 3 1
GD Phillips (SRH)
5 5 0 39 25 7.80 22 177.27 - - 1 2 4
M Jansen (SRH)
8 6 3 39 17* 13.00 43 90.69 - - - 4 0
A Nortje (DC)
10 7 4 37 23* 12.33 29 127.58 - - 1 6 0
DJ Willey (RCB)
4 3 3 35 20* - 32 109.37 - - - 4 0
SS Prabhudessai (RCB)
5 4 0 35 19 8.75 29 120.68 - - 1 1 2
Abishek Porel (DC)
4 4 0 33 20 8.25 31 106.45 - - - 1 2
PWH de Silva (RCB)
8 5 3 33 12* 16.50 28 117.85 - - - 3 0
Vishnu Vinod (MI)
2 2 0 32 30 16.00 24 133.33 - - - 2 2

In [8]:
Player = []
Mat = []
Inns = []
NO = []
Runs = []
HS = []
Ave =[]
BF = []
SR = []
Hundred = []
Fifty = []
Duck = []
Four = []
Six =[]

In [9]:
for i in most_runs:
    name = i.find_element(By.XPATH, './td[1]').text
    Player.append(name)
    print(name)
    Mat.append(i.find_element(By.XPATH, './td[2]').text)
    Inns.append(i.find_element(By.XPATH, './td[3]').text)
    NO.append(i.find_element(By.XPATH, './td[4]').text)
    Runs.append(i.find_element(By.XPATH, './td[5]').text)
    HS.append(i.find_element(By.XPATH, './td[6]').text)
    Ave.append(i.find_element(By.XPATH, './td[7]').text)
    BF.append(i.find_element(By.XPATH, './td[8]').text)
    SR.append(i.find_element(By.XPATH, './td[9]').text)
    Hundred.append(i.find_element(By.XPATH, './td[10]').text)
    Fifty.append(i.find_element(By.XPATH, './td[11]').text)
    Duck.append(i.find_element(By.XPATH, './td[12]').text)
    Four.append(i.find_element(By.XPATH, './td[13]').text)
    Six.append(i.find_element(By.XPATH, './td[14]').text)

Player
F du Plessis (RCB)
Shubman Gill (GT)
V Kohli (RCB)
DP Conway (CSK)
YBK Jaiswal (RR)
RD Gaikwad (CSK)
DA Warner (DC)
SA Yadav (MI)
RK Singh (KKR)
H Klaasen (SRH)
Ishan Kishan (MI)
N Rana (KKR)
VR Iyer (KKR)
GJ Maxwell (RCB)
JC Buttler (RR)
S Dube (CSK)
C Green (MI)
S Dhawan (PBKS)
MP Stoinis (LSG)
SV Samson (RR)
KR Mayers (LSG)
N Pooran (LSG)
Prabhsimran Singh (PBKS)
RG Sharma (MI)
JM Sharma (PBKS)
V Shankar (GT)
AM Rahane (CSK)
SO Hetmyer (RR)
WP Saha (GT)
HH Pandya (GT)
JJ Roy (KKR)
AR Patel (DC)
LS Livingstone (PBKS)
SM Curran (PBKS)
KL Rahul (LSG)
NT Tilak Varma (MI)
RA Tripathi (SRH)
MA Agarwal (SRH)
D Padikkal (RR)
DA Miller (GT)
AK Markram (SRH)
A Badoni (LSG)
Rahmanullah Gurbaz (KKR)
AD Russell (KKR)
Abhishek Sharma (SRH)
B Sai Sudharsan (GT)
PD Salt (DC)
TH David (MI)
N Wadhera (MI)
RR Rossouw (DC)
HC Brook (SRH)
A Taide (PBKS)
KH Pandya (LSG)
RA Jadeja (CSK)
Abdul Samad (SRH)
MK Pandey (DC)
M Shahrukh Khan (PBKS)
DC Jurel (RR)
Q de Kock (LSG)
KD Karthik (RCB)
Sikandar Raza (PBKS)
AT Rayudu (CSK)
MK Lomror (RCB)
MR Marsh (DC)
Rashid Khan (GT)
MM Ali (CSK)
MW Short (PBKS)
A Manohar (GT)
SN Thakur (KKR)
Aman Hakim Khan (DC)
PP Shaw (DC)
Anmolpreet Singh (SRH)
MS Dhoni (CSK)
Anuj Rawat (RCB)
PN Mankad (LSG)
N Jagadeesan (KKR)
R Tewatia (GT)
R Parag (RR)
Harpreet Singh (PBKS)
PBB Rajapaksa (PBKS)
Vivrant Sharma (SRH)
DJ Hooda (LSG)
R Ashwin (RR)
Lalit Yadav (DC)
Washington Sundar (SRH)
K Gowtham (LSG)
MG Bracewell (RCB)
SN Khan (DC)
Harpreet Brar (PBKS)
RV Patel (DC)
B Kumar (SRH)
Shahbaz Ahmed (RCB)
GD Phillips (SRH)
M Jansen (SRH)
A Nortje (DC)
DJ Willey (RCB)
SS Prabhudessai (RCB)
Abishek Porel (DC)
PWH de Silva (RCB)
Vishnu Vinod (MI)

In [10]:
import pandas as pd
import numpy as np

In [11]:
batsman = pd.DataFrame({'Player': Player[1:], 'Mat': Mat[1:], 'Inns' : Inns[1:], 'NO':NO[1:], 'Runs' : Runs[1:], 'HS':HS[1:],
'Ave': Ave[1:], 'BF' : BF[1:], 'SR':SR[1:], 'Hundred':Hundred[1:], 'Fifty': Fifty[1:], 'Duck':Duck[1:], 'Four':Four[1:], 'Six':Six[1:]})

In [12]:
batsman.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six
0,F du Plessis (RCB),14,14,1,730,84,56.15,475,153.68,-,8,-,60,36
1,Shubman Gill (GT),15,15,2,722,104*,55.53,484,149.17,2,4,1,71,23
2,V Kohli (RCB),14,14,2,639,101*,53.25,457,139.82,2,6,1,65,16
3,DP Conway (CSK),15,14,2,625,92*,52.08,456,137.06,-,6,1,73,16
4,YBK Jaiswal (RR),14,14,1,625,124,48.07,382,163.61,1,5,1,82,26

In [13]:
'F du Plessis (RCB)'.split('(')

['F du Plessis ', 'RCB)']

In [14]:
'F du Plessis (RCB)'.split('(')[0]

'F du Plessis '

In [15]:
'F du Plessis (RCB)'.split('(')[1][0:-1]

'RCB'

In [16]:
def get_player(col):
    return col.split('(')[0]

def get_team(col):
    return col.split('(')[1][0:-1]

In [17]:
batsman_data = batsman.copy()

In [18]:
batsman_data['Team'] = batsman_data['Player'].apply(get_team)

In [19]:
batsman_data['Player'] = batsman_data['Player'].apply(get_player)

In [20]:
batsman_data.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six,Team
0,F du Plessis,14,14,1,730,84,56.15,475,153.68,-,8,-,60,36,RCB
1,Shubman Gill,15,15,2,722,104*,55.53,484,149.17,2,4,1,71,23,GT
2,V Kohli,14,14,2,639,101*,53.25,457,139.82,2,6,1,65,16,RCB
3,DP Conway,15,14,2,625,92*,52.08,456,137.06,-,6,1,73,16,CSK
4,YBK Jaiswal,14,14,1,625,124,48.07,382,163.61,1,5,1,82,26,RR

In [21]:
batting_order = pd.read_csv(r'D:\Untitled Folder\IPL/batting_order.csv')

In [22]:
batting_order.head()

          Player  BO
0  F du Plessis    1
1   YBK Jaiswal    1
2     DP Conway    1
3       V Kohli    1
4    RD Gaikwad    1

In [23]:
batsman_data = pd.merge(left=batsman_data,right=batting_order,on='Player',how='left')

In [24]:
batsman_data.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six,Team,BO
0,F du Plessis,14,14,1,730,84,56.15,475,153.68,-,8,-,60,36,RCB,1.0
1,Shubman Gill,15,15,2,722,104*,55.53,484,149.17,2,4,1,71,23,GT,1.0
2,V Kohli,14,14,2,639,101*,53.25,457,139.82,2,6,1,65,16,RCB,1.0
3,DP Conway,15,14,2,625,92*,52.08,456,137.06,-,6,1,73,16,CSK,1.0
4,YBK Jaiswal,14,14,1,625,124,48.07,382,163.61,1,5,1,82,26,RR,1.0

In [25]:
#Replacing - with 0 in data

for i in batsman_data.columns:
    batsman_data[i] = batsman_data[i].replace(['-'],0)

In [26]:
batsman_data.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six,Team,BO
0,F du Plessis,14,14,1,730,84,56.15,475,153.68,0,8,0,60,36,RCB,1.0
1,Shubman Gill,15,15,2,722,104*,55.53,484,149.17,2,4,1,71,23,GT,1.0
2,V Kohli,14,14,2,639,101*,53.25,457,139.82,2,6,1,65,16,RCB,1.0
3,DP Conway,15,14,2,625,92*,52.08,456,137.06,0,6,1,73,16,CSK,1.0
4,YBK Jaiswal,14,14,1,625,124,48.07,382,163.61,1,5,1,82,26,RR,1.0

In [79]:
def r_asterisk(col):
    return col.split('*')[0]

In [80]:
batsman_data.columns

Index(['Player', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       'Hundred', 'Fifty', 'Duck', 'Four', 'Six', 'Team', 'BO',
       'Boundary_percent', 'Avg_bf'],
      dtype='object')

In [ ]:
for i in batsman_data.columns[1:8]:
    batsman_data[i] = batsman_data[i].apply(r_asterisk)

In [30]:
batsman_data.head(10)

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six,Team,BO
0,F du Plessis,14,14,1,730,84,56.15,475,153.68,0,8,0,60,36,RCB,1.0
1,Shubman Gill,15,15,2,722,104,55.53,484,149.17,2,4,1,71,23,GT,1.0
2,V Kohli,14,14,2,639,101,53.25,457,139.82,2,6,1,65,16,RCB,1.0
3,DP Conway,15,14,2,625,92,52.08,456,137.06,0,6,1,73,16,CSK,1.0
4,YBK Jaiswal,14,14,1,625,124,48.07,382,163.61,1,5,1,82,26,RR,1.0
5,RD Gaikwad,15,14,1,564,92,43.38,384,146.87,0,4,0,43,29,CSK,1.0
6,DA Warner,14,14,0,516,86,36.85,392,131.63,0,6,2,69,10,DC,1.0
7,SA Yadav,15,14,2,511,103,42.58,276,185.14,1,4,1,56,24,MI,4.0
8,RK Singh,14,14,6,474,67,59.25,317,149.52,0,4,0,31,29,KKR,5.0
9,H Klaasen,12,11,2,448,104,49.77,253,177.07,1,2,0,32,25,SRH,6.0

In [31]:
batsman_data.dtypes

Player      object
Mat         object
Inns        object
NO          object
Runs        object
HS          object
Ave         object
BF          object
SR          object
Hundred     object
Fifty       object
Duck        object
Four        object
Six         object
Team        object
BO         float64
dtype: object

In [32]:
convert_dict = {
    
    'Player': object,
    'Mat' : int,
    'Inns' : int,
    'NO' : int,
    'Runs' : int,
    'HS' : int,
    'Ave' : float,
    'BF' : int,
    'SR' : float,
    'Hundred' : int,
    'Fifty' : int,
    'Duck' : int,
    'Four' : int,
    'Six' : int,
    'Team' : object
}

In [33]:
batsman_data = batsman_data.astype(convert_dict)

In [34]:
batsman_data.dtypes

Player      object
Mat          int32
Inns         int32
NO           int32
Runs         int32
HS           int32
Ave        float64
BF           int32
SR         float64
Hundred      int32
Fifty        int32
Duck         int32
Four         int32
Six          int32
Team        object
BO         float64
dtype: object

In [35]:
batsman_data['Boundary_percent'] = ((batsman_data['Four']*4+batsman_data['Six']*6)/batsman_data['Runs'])*100

In [36]:
batsman_data.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six,Team,BO,Boundary_percent
0,F du Plessis,14,14,1,730,84,56.15,475,153.68,0,8,0,60,36,RCB,1.0,62.465753
1,Shubman Gill,15,15,2,722,104,55.53,484,149.17,2,4,1,71,23,GT,1.0,58.448753
2,V Kohli,14,14,2,639,101,53.25,457,139.82,2,6,1,65,16,RCB,1.0,55.712050
3,DP Conway,15,14,2,625,92,52.08,456,137.06,0,6,1,73,16,CSK,1.0,62.080000
4,YBK Jaiswal,14,14,1,625,124,48.07,382,163.61,1,5,1,82,26,RR,1.0,77.440000

In [37]:
batsman_data['Avg_bf'] = batsman_data['BF']/batsman_data['Inns']

In [38]:
#TO left align table

from IPython.core.display import HTML
table_css = 'table {align:left;display:block} '
HTML('<style>{}</style>'.format(table_css))

# Strategy For Openers
	
|Parameters | Description | Criteria |
|:----------|:-----------:|:-------- |
|Batting Average|Avg runs scored in an innings|	>40|
|Strike Rate	|No of runs scored per 100 balls	|>140|
|Innings|	Total innings batted	|>5|
|Boundary %|	% of runs scored in boundaries	|>50|
|batting_order| |<=2|

In [39]:
filter1 = batsman_data['Ave']>40
filter2 = batsman_data['SR']>135
filter3 = batsman_data['Inns'] > 7
filter4 = batsman_data['Boundary_percent'] > 50
filter5 = batsman_data['BO']<=2

In [40]:
openers = batsman_data.where(filter1 & filter2 & filter3 & filter4 & filter5)

In [41]:
openers = openers.dropna()

In [42]:
openers.head(3)

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six,Team,BO,Boundary_percent,Avg_bf
0,F du Plessis,14.0,14.0,1.0,730.0,84.0,56.15,475.0,153.68,0.0,8.0,0.0,60.0,36.0,RCB,1.0,62.465753,33.928571
1,Shubman Gill,15.0,15.0,2.0,722.0,104.0,55.53,484.0,149.17,2.0,4.0,1.0,71.0,23.0,GT,1.0,58.448753,32.266667
2,V Kohli,14.0,14.0,2.0,639.0,101.0,53.25,457.0,139.82,2.0,6.0,1.0,65.0,16.0,RCB,1.0,55.712050,32.642857

# Strategy For Middle Order
	
|Parameters | Description | Criteria |
|:----------|:-----------:|:-------- |
|Batting Average|Avg runs scored in an innings|	>40|
|Strike Rate	|No of runs scored per 100 balls	|>120|
|Innings|	Total innings batted	|>5|
|Avg_bf|	Avg balls faced in an innings	|>20|
|batting_order| |>2|

In [52]:
filter1 = batsman_data['Ave']>35
filter2 = batsman_data['SR']>120
filter3 = batsman_data['Inns'] > 5
filter4 = batsman_data['Avg_bf']>19
filter5 = batsman_data['BO'] > 2
filter6 = batsman_data['BO'] <=5

In [53]:
middle_order = batsman_data.where(filter1 & filter2 & filter3 & filter4 & filter5 & filter6)

In [54]:
middle_order = middle_order.dropna()
middle_order.sort_values(by = 'BO')

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six,Team,BO,Boundary_percent,Avg_bf
7,SA Yadav,15.0,14.0,2.0,511.0,103.0,42.58,276.0,185.14,1.0,4.0,1.0,56.0,24.0,MI,4.0,72.015656,19.714286
45,B Sai Sudharsan,6.0,6.0,1.0,223.0,62.0,44.60,178.0,125.28,0.0,2.0,0.0,20.0,5.0,GT,4.0,49.327354,29.666667
8,RK Singh,14.0,14.0,6.0,474.0,67.0,59.25,317.0,149.52,0.0,4.0,0.0,31.0,29.0,KKR,5.0,62.869198,22.642857
35,NT Tilak Varma,10.0,9.0,3.0,274.0,84.0,45.66,173.0,158.38,0.0,1.0,0.0,21.0,18.0,MI,5.0,70.072993,19.222222

# Strategy For Finisher/Lower Order
	
|Parameters | Description | Criteria |
|:----------|:-----------:|:-------- |
|Batting Average|Avg runs scored in an innings|	>25|
|Strike Rate	|No of runs scored per 100 balls	|>150|
|Innings|	Total innings batted	|>3|
|Avg_bf|	Avg balls faced in an innings	|>8|
|batting_order| |>5|

In [55]:
filter1 = batsman_data['Ave']>25
filter2 = batsman_data['SR']>150
filter3 = batsman_data['Inns'] > 3
filter4 = batsman_data['Avg_bf']>=8
filter5 = batsman_data['BO']>5

In [56]:
finisher = batsman_data.where(filter1 & filter2 & filter3 & filter4 & filter5)

In [57]:
finisher.dropna(inplace=True)

In [58]:
finisher.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundred,Fifty,Duck,Four,Six,Team,BO,Boundary_percent,Avg_bf
9,H Klaasen,12.0,11.0,2.0,448.0,104.0,49.77,253.0,177.07,1.0,2.0,0.0,32.0,25.0,SRH,6.0,62.053571,23.000000
21,N Pooran,15.0,14.0,3.0,358.0,62.0,32.54,206.0,173.78,0.0,2.0,1.0,26.0,26.0,LSG,6.0,72.625698,14.714286
27,SO Hetmyer,14.0,13.0,5.0,299.0,56.0,37.37,197.0,151.77,0.0,1.0,0.0,12.0,23.0,RR,6.0,62.207358,15.153846
47,TH David,15.0,13.0,6.0,216.0,45.0,30.85,130.0,166.15,0.0,0.0,2.0,11.0,15.0,MI,6.0,62.037037,10.000000

In [59]:
openers.to_csv('openers.csv',index=False)
middle_order.to_csv('middle_order.csv',index=False)
finisher.to_csv('finisher.csv',index=False)

# Bowlers

In [60]:
driver = webdriver.Chrome(path)

C:\Users\abhis\AppData\Local\Temp\ipykernel_16596\2107036205.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [61]:
driver.get(website)
try:
    WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.ID, 'wzrk-cancel'))).click()
except:
    print("could not click")
    pass

In [ ]:
most_wickets_page = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '//a[@href="/records/tournament/bowling-most-wickets-career/indian-premier-league-2023-15129"]'))).click()
most_wickets_page

In [64]:
most_wickets = driver.find_elements(By.TAG_NAME, 'tr')

for i in most_wickets:
    print(i.text)

Player
Mat
Inns
Balls
Overs
Mdns
Runs
Wkts
BBI
BBM
Ave
Econ
SR
4
5
Mohammed Shami (GT)
15 15 354 59.0 2 452 26 4/11 4/11 17.38 7.66 13.61 2 -
Rashid Khan (GT)
15 15 360 60.0 - 475 25 4/30 4/30 19.00 7.91 14.40 1 -
YS Chahal (RR)
14 14 317 52.5 - 432 21 4/17 4/17 20.57 8.17 15.09 3 -
TU Deshpande (CSK)
15 15 317 52.5 - 508 21 3/45 3/45 24.19 9.61 15.09 - -
PP Chawla (MI)
15* 14 324 54.0 - 422 20 3/22 3/22 21.10 7.81 16.20 - -
CV Varun (KKR)
14 14 316 52.4 1 429 20 4/15 4/15 21.45 8.14 15.80 1 -
MM Sharma (GT)
12 12 233 38.5 - 315 19 4/28 4/28 16.57 8.11 12.26 2 -
Mohammed Siraj (RCB)
14 14 300 50.0 - 375 19 4/21 4/21 19.73 7.50 15.78 1 -
RA Jadeja (CSK)
15 15 318 53.0 - 393 19 3/20 3/20 20.68 7.41 16.73 - -
M Pathirana (CSK)
11 11 254 42.2 - 327 17 3/15 3/15 19.23 7.72 14.94 - -
Arshdeep Singh (PBKS)
14 14 305 50.5 - 493 17 4/29 4/29 29.00 9.69 17.94 1 -
Ravi Bishnoi (LSG)
15* 13 279 46.3 - 361 16 3/28 3/28 22.56 7.76 17.43 - -
B Kumar (SRH)
14 14 306 51.0 1 425 16 5/30 5/30 26.56 8.33 19.12 - 1
Noor Ahmad (GT)
11 11 241 40.1 - 317 14 3/37 3/37 22.64 7.89 17.21 - -
JP Behrendorff (MI)
11* 10 210 35.0 - 338 14 3/23 3/23 24.14 9.65 15.00 - -
R Ashwin (RR)
13 13 294 49.0 - 368 14 2/23 2/23 26.28 7.51 21.00 - -
HV Patel (RCB)
14 13 282 47.0 - 454 14 3/32 3/32 32.42 9.65 20.14 - -
TA Boult (RR)
10 10 228 38.0 3 312 13 3/29 3/29 24.00 8.21 17.53 - -
NT Ellis (PBKS)
10 10 228 38.0 - 339 13 4/30 4/30 26.07 8.92 17.53 1 -
MR Marsh (DC)
9 8 121 20.1 1 170 12 4/27 4/27 14.16 8.42 10.08 1 -
DL Chahar (CSK)
9 9 180 30.0 - 259 12 3/22 3/22 21.58 8.63 15.00 - -
M Markande (SRH)
10 10 228 38.0 - 300 12 4/15 4/15 25.00 7.89 19.00 1 -
MA Wood (LSG)
4 4 96 16.0 1 130 11 5/14 5/14 11.81 8.12 8.72 - 1
AR Patel (DC)
14 13 282 47.0 - 338 11 2/13 2/13 30.72 7.19 25.63 - -
M Theekshana (CSK)
12 12 270 45.0 1 356 11 2/23 2/23 32.36 7.91 24.54 - -
SP Narine (KKR)
14 14 288 48.0 - 383 11 3/33 3/33 34.81 7.97 26.18 - -
I Sharma (DC)
8 8 150 25.0 - 206 10 2/19 2/19 20.60 8.24 15.00 - -
KV Sharma (RCB)
7 7 129 21.3 - 223 10 2/19 2/19 22.30 10.37 12.90 - -
Yash Thakur (LSG)
9* 8 167 27.5 - 255 10 4/37 4/37 25.50 9.16 16.70 1 -
M Jansen (SRH)
8 8 162 27.0 1 267 10 2/16 2/16 26.70 9.88 16.20 - -
Suyash Sharma (KKR)
11 11 234 39.0 - 321 10 3/30 3/30 32.10 8.23 23.40 - -
Kuldeep Yadav (DC)
14 14 294 49.0 1 361 10 2/15 2/15 36.10 7.36 29.40 - -
A Nortje (DC)
10 10 240 40.0 - 364 10 2/20 2/20 36.40 9.10 24.00 - -
Sandeep Sharma (RR)
12 12 276 46.0 - 396 10 2/25 2/25 39.60 8.60 27.60 - -
T Natarajan (SRH)
12 12 270 45.0 - 410 10 2/23 2/23 41.00 9.11 27.00 - -
SM Curran (PBKS)
14 14 287 47.5 - 489 10 3/31 3/31 48.90 10.22 28.70 - -
MM Ali (CSK)
14 11 156 26.0 - 195 9 4/26 4/26 21.66 7.50 17.33 1 -
Harpreet Brar (PBKS)
13 11 163 27.1 - 218 9 4/30 4/30 24.22 8.02 18.11 1 -
WD Parnell (RCB)
7 7 151 25.1 - 236 9 3/10 3/10 26.22 9.37 16.77 - -
V Vyshak (RCB)
7 7 144 24.0 - 253 9 3/20 3/20 28.11 10.54 16.00 - -
PWH de Silva (RCB)
8 8 174 29.0 - 258 9 2/24 2/24 28.66 8.89 19.33 - -
KH Pandya (LSG)
15* 11 228 38.0 - 275 9 3/18 3/18 30.55 7.23 25.33 - -
KK Ahmed (DC)
9 9 198 33.0 2 301 9 2/24 2/24 33.44 9.12 22.00 - -
A Madhwal (MI)
7* 6 108 18.0 - 162 8 4/37 4/37 20.25 9.00 13.50 1 -
A Zampa (RR)
6 6 132 22.0 - 188 8 3/22 3/22 23.50 8.54 16.50 - -
Avesh Khan (LSG)
9 9 174 29.0 - 283 8 3/25 3/25 35.36 9.75 21.75 - -
RD Chahar (PBKS)
14 14 298 49.4 - 385 8 2/16 2/16 48.12 7.75 37.25 - -
A Mishra (LSG)
7 7 114 19.0 - 149 7 2/21 2/21 21.28 7.84 16.28 - -
AD Russell (KKR)
14 9 91 15.1 - 172 7 3/22 3/22 24.57 11.34 13.00 - -
Naveen-ul-Haq (LSG)
8* 6 144 24.0 - 181 7 3/30 3/30 25.85 7.54 20.57 - -
RP Meredith (MI)
5 5 118 19.4 - 207 7 2/33 2/33 29.57 10.52 16.85 - -
SN Thakur (KKR)
11 9 126 21.0 - 220 7 2/23 2/23 31.42 10.47 18.00 - -
AS Joseph (GT)
7 7 144 24.0 - 225 7 2/27 2/27 32.14 9.37 20.57 - -
K Rabada (PBKS)
6 6 138 23.0 - 232 7 2/34 2/34 33.14 10.08 19.71 - -
Mukesh Kumar (DC)
10 10 186 31.0 - 326 7 2/30 2/30 46.57 10.51 26.57 - -
MG Bracewell (RCB)
5 5 66 11.0 - 95 6 2/13 2/13 15.83 8.63 11.00 - -
JB Little (GT)
8 8 174 29.0 - 238 6 2/25 2/25 39.65 8.20 29.00 - -
C Green (MI)
15* 14 192 32.0 - 311 6 2/41 2/41 51.83 9.71 32.00 - -
MP Stoinis (LSG)
15* 5 65 10.5 - 100 5 2/20 2/20 20.00 9.23 13.00 - -
VG Arora (KKR)
5 5 96 16.0 - 146 5 2/30 2/30 29.20 9.12 19.20 - -
Harshit Rana (KKR)
6 6 102 17.0 - 147 5 2/33 2/33 29.40 8.64 20.39 - -
Akash Singh (CSK)
6 6 114 19.0 - 188 5 2/40 2/40 37.60 9.89 22.80 - -
Arshad Khan (MI)
6 6 85 14.1 - 190 5 3/39 3/39 38.00 13.41 17.00 - -
K Kartikeya (MI)
7 7 144 24.0 - 212 5 2/37 2/37 42.40 8.83 28.80 - -
Umran Malik (SRH)
8 8 120 20.0 - 217 5 2/32 2/32 43.40 10.85 24.00 - -
Fazalhaq Farooqi (SRH)
4 4 80 13.2 - 117 4 2/41 2/41 29.25 8.77 20.00 - -
JO Holder (RR)
8 8 171 28.3 - 284 4 2/29 2/29 71.00 9.96 42.75 - -
RS Hangargekar (CSK)
2 2 36 6.0 - 60 3 3/36 3/36 20.00 10.00 12.00 - -
AS Roy (KKR)
4 3 48 8.0 - 65 3 2/19 2/19 21.66 8.12 16.00 - -
Yudhvir Singh (LSG)
3 3 48 8.0 - 70 3 2/19 2/19 23.33 8.75 16.00 - -
NA Saini (RR)
2 2 36 6.0 - 74 3 3/40 3/40 24.66 12.33 12.00 - -
N Rana (KKR)
14 6 53 8.5 - 75 3 2/17 2/17 25.00 8.49 17.66 - -
JR Hazlewood (RCB)
3 3 54 9.0 - 76 3 2/15 2/15 25.33 8.44 18.00 - -
MJ Santner (CSK)
3 3 72 12.0 - 81 3 2/28 2/28 27.00 6.75 24.00 - -
C Sakariya (DC)
2 2 48 8.0 - 89 3 2/53 2/53 29.66 11.12 16.00 - -
AS Tendulkar (MI)
4 4 59 9.5 - 92 3 1/9 1/9 30.66 9.35 19.66 - -
GJ Maxwell (RCB)
14 7 62 10.2 - 94 3 1/3 1/3 31.33 9.09 20.66 - -
DJ Willey (RCB)
4 4 90 15.0 1 105 3 2/16 2/16 35.00 7.00 30.00 - -
K Gowtham (LSG)
7* 5 90 15.0 - 110 3 1/10 1/10 36.65 7.33 30.00 - -
Sikandar Raza (PBKS)
7 6 72 12.0 - 119 3 1/19 1/19 39.65 9.91 24.00 - -
KM Asif (RR)
4 4 84 14.0 - 138 3 2/42 2/42 46.00 9.85 28.00 - -
Washington Sundar (SRH)
7 7 106 17.4 - 146 3 3/28 3/28 48.66 8.26 35.33 - -
HR Shokeen (MI)
8* 7 108 18.0 - 169 3 2/34 2/34 56.33 9.38 36.00 - -
HH Pandya (GT)
14 9 132 22.0 - 190 3 1/10 1/10 63.33 8.63 44.00 - -
AU Rashid (SRH)
2 2 42 7.0 - 56 2 2/23 2/23 28.00 8.00 21.00 - -
K Khejroliya (KKR)
2 2 26 4.2 - 64 2 2/44 2/44 32.00 14.76 13.00 - -
K Yadav (RR)
2 2 42 7.0 - 68 2 1/18 1/18 34.00 9.71 21.00 - -
TG Southee (KKR)
2 2 36 6.0 - 79 2 2/54 2/54 39.50 13.16 18.00 - -
Mohsin Khan (LSG)
5* 3 42 7.0 - 83 2 1/26 1/26 41.50 11.85 21.00 - -
LS Livingstone (PBKS)
9 5 42 7.0 - 94 2 1/19 1/19 47.00 13.42 21.00 - -
Lalit Yadav (DC)
6 4 78 13.0 - 118 2 1/29 1/29 59.00 9.07 39.00 - -
Abhishek Sharma (SRH)
11 5 72 12.0 - 124 2 1/26 1/26 62.00 10.33 36.00 - -
Yash Dayal (GT)
5 5 84 14.0 - 165 2 1/31 1/31 82.50 11.78 42.00 - -
CJ Jordan (MI)
5* 4 96 16.0 - 174 2 1/42 1/42 87.00 10.87 48.00 - -
JC Archer (MI)
5 5 120 20.0 - 190 2 1/35 1/35 95.00 9.50 60.00 - -
T Stubbs (MI)
2 1 12 2.0 - 14 1 1/14 1/14 14.00 7.00 12.00 - -
RJW Topley (RCB)
1 1 12 2.0 - 14 1 1/14 1/14 14.00 7.00 12.00 - -
R Powell (DC)
3 1 12 2.0 - 18 1 1/18 1/18 18.00 9.00 12.00 - -
P Dubey (DC)
1 1 18 3.0 - 19 1 1/19 1/19 19.00 6.33 18.00 - -
GD Phillips (SRH)
5 2 18 3.0 - 20 1 1/10 1/10 20.00 6.66 18.00 - -

In [65]:
Player = []
Mat = []
Inns = []
Balls = []
Overs = []
Mdns = []
Runs = []
Wkts = []
BBI = []
BBM = []
Ave = []
Econ = []
SR = []
Four = []
Fifer = []

In [66]:
for i in most_wickets:
    name = i.find_element(By.XPATH, './td[1]').text
    Player.append(name)
    print(name)
    Mat.append(i.find_element(By.XPATH, './td[2]').text)
    Inns.append(i.find_element(By.XPATH, './td[3]').text)
    Balls.append(i.find_element(By.XPATH, './td[4]').text)
    Overs.append(i.find_element(By.XPATH, './td[5]').text)
    Mdns.append(i.find_element(By.XPATH, './td[6]').text)
    Runs.append(i.find_element(By.XPATH, './td[7]').text)
    Wkts.append(i.find_element(By.XPATH, './td[8]').text)
    BBI.append(i.find_element(By.XPATH, './td[9]').text)
    BBM.append(i.find_element(By.XPATH, './td[10]').text)
    Ave.append(i.find_element(By.XPATH, './td[11]').text)
    Econ.append(i.find_element(By.XPATH, './td[12]').text)
    SR.append(i.find_element(By.XPATH, './td[13]').text)
    Four.append(i.find_element(By.XPATH, './td[14]').text)
    Fifer.append(i.find_element(By.XPATH, './td[15]').text)

Player
Mohammed Shami (GT)
Rashid Khan (GT)
YS Chahal (RR)
TU Deshpande (CSK)
PP Chawla (MI)
CV Varun (KKR)
MM Sharma (GT)
Mohammed Siraj (RCB)
RA Jadeja (CSK)
M Pathirana (CSK)
Arshdeep Singh (PBKS)
Ravi Bishnoi (LSG)
B Kumar (SRH)
Noor Ahmad (GT)
JP Behrendorff (MI)
R Ashwin (RR)
HV Patel (RCB)
TA Boult (RR)
NT Ellis (PBKS)
MR Marsh (DC)
DL Chahar (CSK)
M Markande (SRH)
MA Wood (LSG)
AR Patel (DC)
M Theekshana (CSK)
SP Narine (KKR)
I Sharma (DC)
KV Sharma (RCB)
Yash Thakur (LSG)
M Jansen (SRH)
Suyash Sharma (KKR)
Kuldeep Yadav (DC)
A Nortje (DC)
Sandeep Sharma (RR)
T Natarajan (SRH)
SM Curran (PBKS)
MM Ali (CSK)
Harpreet Brar (PBKS)
WD Parnell (RCB)
V Vyshak (RCB)
PWH de Silva (RCB)
KH Pandya (LSG)
KK Ahmed (DC)
A Madhwal (MI)
A Zampa (RR)
Avesh Khan (LSG)
RD Chahar (PBKS)
A Mishra (LSG)
AD Russell (KKR)
Naveen-ul-Haq (LSG)
RP Meredith (MI)
SN Thakur (KKR)
AS Joseph (GT)
K Rabada (PBKS)
Mukesh Kumar (DC)
MG Bracewell (RCB)
JB Little (GT)
C Green (MI)
MP Stoinis (LSG)
VG Arora (KKR)
Harshit Rana (KKR)
Akash Singh (CSK)
Arshad Khan (MI)
K Kartikeya (MI)
Umran Malik (SRH)
Fazalhaq Farooqi (SRH)
JO Holder (RR)
RS Hangargekar (CSK)
AS Roy (KKR)
Yudhvir Singh (LSG)
NA Saini (RR)
N Rana (KKR)
JR Hazlewood (RCB)
MJ Santner (CSK)
C Sakariya (DC)
AS Tendulkar (MI)
GJ Maxwell (RCB)
DJ Willey (RCB)
K Gowtham (LSG)
Sikandar Raza (PBKS)
KM Asif (RR)
Washington Sundar (SRH)
HR Shokeen (MI)
HH Pandya (GT)
AU Rashid (SRH)
K Khejroliya (KKR)
K Yadav (RR)
TG Southee (KKR)
Mohsin Khan (LSG)
LS Livingstone (PBKS)
Lalit Yadav (DC)
Abhishek Sharma (SRH)
Yash Dayal (GT)
CJ Jordan (MI)
JC Archer (MI)
T Stubbs (MI)
RJW Topley (RCB)
R Powell (DC)
P Dubey (DC)
GD Phillips (SRH)

In [67]:
wickets = pd.DataFrame({'Player': Player[1:], 'Mat': Mat[1:], 'Inns' : Inns[1:], 'Balls':Balls[1:], 'Overs' : Overs[1:], 'Mdns':Mdns[1:],
'Runs': Runs[1:], 'Wkts' : Wkts[1:], 'BBI':BBI[1:], 'BBM':BBM[1:], 'Ave': Ave[1:], 'Econ':Econ[1:], 'SR':SR[1:], 'Four':Four[1:], 'Fifer':Fifer[1:]})

In [68]:
wickets.head()

,Player,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,BBI,BBM,Ave,Econ,SR,Four,Fifer
0,Mohammed Shami (GT),15,15,354,59.0,2,452,26,4/11,4/11,17.38,7.66,13.61,2,-
1,Rashid Khan (GT),15,15,360,60.0,-,475,25,4/30,4/30,19.00,7.91,14.40,1,-
2,YS Chahal (RR),14,14,317,52.5,-,432,21,4/17,4/17,20.57,8.17,15.09,3,-
3,TU Deshpande (CSK),15,15,317,52.5,-,508,21,3/45,3/45,24.19,9.61,15.09,-,-
4,PP Chawla (MI),15*,14,324,54.0,-,422,20,3/22,3/22,21.10,7.81,16.20,-,-

In [69]:
wickets.drop(['BBI','BBM'], inplace=True,axis=1)

In [70]:
wickets.head()

,Player,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,Ave,Econ,SR,Four,Fifer
0,Mohammed Shami (GT),15,15,354,59.0,2,452,26,17.38,7.66,13.61,2,-
1,Rashid Khan (GT),15,15,360,60.0,-,475,25,19.00,7.91,14.40,1,-
2,YS Chahal (RR),14,14,317,52.5,-,432,21,20.57,8.17,15.09,3,-
3,TU Deshpande (CSK),15,15,317,52.5,-,508,21,24.19,9.61,15.09,-,-
4,PP Chawla (MI),15*,14,324,54.0,-,422,20,21.10,7.81,16.20,-,-

In [71]:
for i in wickets.columns:
    wickets[i] = wickets[i].replace(['-'],0)

In [72]:
wickets.dtypes

Player    object
Mat       object
Inns      object
Balls     object
Overs     object
Mdns      object
Runs      object
Wkts      object
Ave       object
Econ      object
SR        object
Four      object
Fifer     object
dtype: object

In [77]:
convert_dict = {
    
    'Player': object,
    'Mat' : int,
    'Inns' : int,
    'Balls' : int,
    'Overs' : float,
    'Mdns' : int,
    'Runs' : int,
    'Wkts' : int,
    'Ave' : float,
    'Econ' : float,
    'SR' : float,
    'Four' : int,
    'Fifer' : int
}

In [ ]:
for i in wickets.columns[1:8]:
    wickets[i] = wickets[i].apply(r_asterisk)

In [83]:
wickets = wickets.astype(convert_dict)

In [84]:
wickets.dtypes

Player     object
Mat         int32
Inns        int32
Balls       int32
Overs     float64
Mdns        int32
Runs        int32
Wkts        int32
Ave       float64
Econ      float64
SR        float64
Four        int32
Fifer       int32
dtype: object

In [86]:
wickets.head(10)

,Player,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,Ave,Econ,SR,Four,Fifer
0,Mohammed Shami (GT),15,15,354,59.0,2,452,26,17.38,7.66,13.61,2,0
1,Rashid Khan (GT),15,15,360,60.0,0,475,25,19.00,7.91,14.40,1,0
2,YS Chahal (RR),14,14,317,52.5,0,432,21,20.57,8.17,15.09,3,0
3,TU Deshpande (CSK),15,15,317,52.5,0,508,21,24.19,9.61,15.09,0,0
4,PP Chawla (MI),15,14,324,54.0,0,422,20,21.10,7.81,16.20,0,0
5,CV Varun (KKR),14,14,316,52.4,1,429,20,21.45,8.14,15.80,1,0
6,MM Sharma (GT),12,12,233,38.5,0,315,19,16.57,8.11,12.26,2,0
7,Mohammed Siraj (RCB),14,14,300,50.0,0,375,19,19.73,7.50,15.78,1,0
8,RA Jadeja (CSK),15,15,318,53.0,0,393,19,20.68,7.41,16.73,0,0
9,M Pathirana (CSK),11,11,254,42.2,0,327,17,19.23,7.72,14.94,0,0

# Strategy For Bowlers
	
|Parameters | Description | Criteria |
|:----------|:-----------:|:-------- |
|Econ|Average runs given per over|	<8|
|Strike Rate	|No. of balls required to take a wicket	|<16|
|Innings|	Total innings batted	|>8|
|Bowling Average|	runs allowed per wicket	|<20|
|Overs| |>20|

In [87]:
filter1 = wickets['Econ']<8
filter2 = wickets['SR']<16
filter3 = wickets['Inns']>5
filter4 = wickets['Ave']<30
filter5 = wickets['Overs']>20

In [88]:
bowlers = wickets.where(filter1 & filter2 & filter3 & filter4 & filter5)

In [89]:
bowlers.dropna(inplace=True)

In [90]:
bowlers.head()

,Player,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,Ave,Econ,SR,Four,Fifer
0,Mohammed Shami (GT),15.0,15.0,354.0,59.0,2.0,452.0,26.0,17.38,7.66,13.61,2.0,0.0
1,Rashid Khan (GT),15.0,15.0,360.0,60.0,0.0,475.0,25.0,19.00,7.91,14.40,1.0,0.0
7,Mohammed Siraj (RCB),14.0,14.0,300.0,50.0,0.0,375.0,19.0,19.73,7.50,15.78,1.0,0.0
9,M Pathirana (CSK),11.0,11.0,254.0,42.2,0.0,327.0,17.0,19.23,7.72,14.94,0.0,0.0

In [91]:
bowlers.to_csv('bowlers.csv',index=False)